﻿@model List<SystematicLR.Entities.AggResult>
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.Title</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="chart">
            <canvas id="barChart" style="height:230px"></canvas>
        </div>
        <div style="width:70%" class="text-center">
            <table class="table table-bordered table-striped text-center" >
                <thead>
                    <tr>
                        <th>Indicator</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td>@row.Name</td>
                            <td>@row.Value</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
      
        
    </div>
    <!-- /.box-body -->
</div>
@section EndScripts
{
<script src="~/bower_components/chart.js/Chart.js"></script>
<script>

    $(function () {
    var areaChartData = {
        labels: [@for (int i=0;i<Model.Count-1;i++) { <text>'@Model[i].Name', </text> }  '@Model[Model.Count-1].Name'  ],
        datasets: [
          {
                label: 'Digital Goods',
              fillColor: 'rgba(60,141,188,0.9)',
              strokeColor: 'rgba(60,141,188,0.8)',
              pointColor: '#3b8bba',
              pointStrokeColor: 'rgba(60,141,188,1)',
              pointHighlightFill: '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data: [@(string.Join(",",@Model.Select(e=> e.Value).ToArray()))]
          }
        ]
    }
    var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData                     = areaChartData
    //barChartData.datasets[1].fillColor   = '#00a65a'
    //barChartData.datasets[1].strokeColor = '#00a65a'
    //barChartData.datasets[1].pointColor  = '#00a65a'
    var barChartOptions = {
        type: 'horizontalBar',
        //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
        scaleBeginAtZero        : true,
        //Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines      : true,
        //String - Colour of the grid lines
        scaleGridLineColor      : 'rgba(0,0,0,.05)',
        //Number - Width of the grid lines
        scaleGridLineWidth      : 1,
        //Boolean - Whether to show horizontal lines (except X axis)
        scaleShowHorizontalLines: true,
        //Boolean - Whether to show vertical lines (except Y axis)
        scaleShowVerticalLines  : true,
        //Boolean - If there is a stroke on each bar
        barShowStroke           : true,
        //Number - Pixel width of the bar stroke
        barStrokeWidth          : 2,
        //Number - Spacing between each of the X value sets
        barValueSpacing         : 5,
        //Number - Spacing between data sets within X values
        barDatasetSpacing       : 1,
        //String - A legend template
        //legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
        //Boolean - whether to make the chart responsive
        responsive              : true,
        maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart.Bar(barChartData, barChartOptions)
    })
</script>

    }

