﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error = string.Empty;
}

 @if (Model.Exception is System.Data.Entity.Validation.DbEntityValidationException)
 {

     System.Data.Entity.Validation.DbEntityValidationException e = Model.Exception as System.Data.Entity.Validation.DbEntityValidationException;
     foreach (var eve in e.EntityValidationErrors)
     {
         error += string.Format("Entity of type \"{0}\" in state \"{1}\" has the following validation errors:",
             eve.Entry.Entity.GetType().Name, eve.Entry.State);
         foreach (var ve in eve.ValidationErrors)
         {
             error += string.Format("- Property: \"{0}\", Error: \"{1}\"",
                 ve.PropertyName, ve.ErrorMessage);
         }
     }
 }
  @Model.Exception.Message
@*@error
@if(@Model.Exception.InnerException != null)
{
    <span>@Model.Exception.InnerException.Message</span>
}
@if (@Model.Exception.Source != null)
{
    <span>@Model.Exception.Source</span>
}
@if (@Model.Exception.StackTrace != null)
{
    <span>@Model.Exception.StackTrace</span>
}

    @Model.Exception.GetType().Name

@Model.ControllerName @Model.ActionName*@