﻿.infoMSG, .successMSG, .warningMSG, .errorMSG, .validationMSG {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
width:60%;
}
.infoMSG {
color: #00529B;
background-color: #BDE5F8;
background-image: url('img/MessageBox/info.png');
}
.successMSG {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('img/MessageBox/success.png');
}
.warningMSG {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('img/MessageBox/warning.png');
}
.errorMSG {
color: #D8000C;
background-color: #FFBABA;
background-image: url('img/MessageBox/error.png');
}
.validationMSG {
color: #D63301;
background-color: #FFCCBA;
background-image: url('img/MessageBox/validation.png');
}