﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="~/Style/login.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                
                <img src="~/Style/SLR.png" />
            </div>
            <!-- Login Form -->
            <form id="sign_in" method="POST">
                <input type="text" id="Email" class="fadeIn second" name="Email" placeholder="email" required autofocus>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <text>
                        <div class="alert alert-warning " role="alert">                            
                            @ViewBag.ErrorMessage
                        </div>
                    </text>
                }

                @if (!string.IsNullOrEmpty(ViewBag.DeactivationMessage))
                {
                    <text>
                        <div class="alert alert-danger" role="alert">
                            
                            @ViewBag.DeactivationMessage
                        </div>
                    </text>
                }
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
   
</body>
</html>
