﻿@model IEnumerable<SystematicLR.Entities.Model.Repository>

@{
    ViewBag.Title = "Repositories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @{string[] colors = new string[] { "bg-aqua", "bg-green", "bg-yellow", "bg-red" };       int i = 0; }
    @foreach (var repo in Model)
        {
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box @colors[i]">
                <div class="inner">
                    <h3>@repo.RepositoryName</h3>

                    <p>@repo.CreatedByUser</p>
                    <p>@repo.CreationDate.ToString("dd MMM yyyy")</p>                    
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="@Url.Action("SetRepository", "Home", new { id = repo.ReposotoryGUID })" class="small-box-footer">
                    Work on this Repo <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        i = i == 3 ? 0 : i + 1;
    }   
</div>