﻿@model List<SystematicLR.GoogleScholar.GSOutputArticle>

@if (Model != null)
{
    int i = 0;
    foreach (var art in Model)
    {
        <div class="box box-widget" id="dvGSOut_@i">
            <div class="box-header with-border">
                <div class="user-block">
                    <span class="username" style="margin-left:0px !important"><a href="@art.MainURL" target="_blank" id="hdGSLink">@Html.Raw(art.OrginalArticle.Title)</a></span>
                    <span class="description" style="margin-left:0px !important;color: green;">@Html.Raw(art.OrginalArticle.AuthersSection)</span>
                </div>
                <!-- /.user-block -->
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <!-- post text -->
                @Html.Raw(art.OrginalArticle.Abstract)
                <br />
                <!-- Social sharing buttons -->
                @if (art.OrginalArticle.ExtraInfo != null && art.OrginalArticle.ExtraInfo.file != null)
                {
                    <a href="@art.DownloadURL" class="btn btn-default btn-xs" target="_blank" id="hdDownload">
                        <i class="fa fa-share"></i>
                        @art.OrginalArticle.ExtraInfo.file.Label
                    </a>
                }
                else
                {
                    <a href = "@art.MainURL" class="btn btn-default btn-xs" target="_blank" id="hdDownload">
                        <i class="fa fa-share"></i>
                        @art.HostSite
                    </a>
                }
                <button type="button" class="btn btn-success btn-xs" onclick="GSChoose(this);"><i class="fa fa-thumbs-o-up"></i> Want This</button>
                <span class="pull-right text-muted">Cited By @art.CitedBy - @art.Versions Versions</span>
                <input type="hidden" id="hdTitle" value="@art.Title" />
                <input type="hidden" id="hdAbstract" value="@art.Abstarct" />
                <input type="hidden" id="hdAuthers" value="@art.Authers" />
                <input type="hidden" id="hdPublisher" value="@art.Publisher" />
                <input type="hidden" id="hdYear" value="@art.Year" />
                <input type="hidden" id="hdHost" value="@art.HostSite" />
                <input type="hidden" id="hdCitedBy" value="@art.CitedBy" />
                <input type="hidden" id="hdVersions" value="@art.Versions" />
                <input type="hidden" id="hdCitedByLink" value="@art.CitedByLink" />
                <input type="hidden" id="hdCiteId" value="@art.CiteId" />
                <input type="hidden" id="hdFileType" value="@art.FileType" />
                <input type="hidden" id="hdRelatedArticlesLink" value="@art.RelatedArticlesLink" />
                <input type="hidden" id="hdVersionLink" value="@art.VersionLink" />
                <input type="hidden" id="hdVersions" value="@art.Versions" />
            </div>
        </div>

    }
}


