﻿@model List<SystematicLR.Entities.Model.GetReferencesByRepositoryGUID_Result>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Results</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="References" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Publisher</th>
                            <th>Database</th>
                            <th>Type</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model)
                        {

                            <tr>
                                <td>@row.Title</td>
                                <td>@row.Category</td>
                                <td>@row.Publisher</td>
                                <td>@row.FromDatabase</td>
                                <td>@row.ReferenceType</td>


                                <td>
                                    <a href="index?refId=@row.ReferenceGUID">View</a>
                                </td>
                            </tr>


                        }


                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Publisher</th>
                            <th>Database</th>
                            <th>Type</th>


                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#References').DataTable(
            {
                "pageLength": 100
            })

    })
</script>
