﻿@model SystematicLR.Entities.Model.ISimilarityResults
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Results</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="References" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            @foreach (var keyword in @Model.GetHeaders())
                            {
                                <th>@keyword.OriginalName<br />(@keyword.stemName)</th>
                            }                                                       
                            <th>Total Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        @foreach (var row in Model.GetRows())
                        {

                            int n = 1;
                            <tr>
                                <td><a href="index?refId=@row.ReferenceGUID">@row.Title</a></td>
                                @foreach (var keyword in row.keywords)
                                {
                                    if (n > Model.GetHeaders().Count())
                                    {
                                        break;
                                    }
                                    if(!keyword.HasValue)
                                    {
                                        <td><img src = "/Style/img/MessageBox/error.png" /></td>
                                    }
                                    else
                                    {
                                        <td><img src="/Style/img/MessageBox/success.png" /></td>
                                    }
                                        @*<td>@keyword</td>*@                                    
                                    n++;


                                }
                                <td>
                                    @Math.Round(Convert.ToDecimal(row.Length) * 100, 4)
                                </td>
                            </tr>


                        }


                    </tbody>                    
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#References').DataTable(
            {
                "ordering": false,
                "pageLength": 1000
            })

    })
</script>
