﻿
@{
    ViewBag.Title = "CallGoogleShcolar";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<h2>CallGoogleShcolar</h2>

<form>
    <iframe src="https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_JsonConvert.htm"></iframe>

    <input type="submit" />
</form>
