﻿@model List<SystematicLR.Entities.Model.GenerateReference_Result>
@{
    ViewBag.Title = "Generate Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div id="DvDocumentMD" class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">References Section</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="">
        <div class="row">
            <!-- /.box-header -->
            <!-- form start -->
            <div role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">

                            @foreach (var item in Model)
                            {
                                @*<tr><td>[@item.ShortGuid</td>
                                    <td>@Html.Raw(item.Citation)</td></tr>*@
                                <div class="col-md-2">
                                    <span><b><a href="@ViewBag.Link&refId=@item.ShortGuid" target="_blank">[@item.ShortGuid]</a></b></span>
                                </div>
                                <div class="col-md-10" style="margin-bottom:20px">
                                    @if (string.IsNullOrEmpty(item.Citation))
                                    {
                                        <span style="color:red">Citation Not Found</span>                            <a href="index?refId=@item.ReferenceGUID" target="_blank">View</a>
                                    }
                                    else

                                    {
                                        <span>@Html.Raw(item.Citation)</span>
                                    }

                                </div>


                            }

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

            </div>

            <!-- /.form-group -->


        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer" style="">

    </div>
</div>




