﻿
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isRead = ViewBag.SubTitle == "Read" && ViewBag.ReferenceGUID!=null;

}
@section StartScripts{
    <script src="~/plugins/Autocomplete/autocompete.js"></script>
    <link href="~/plugins/Autocomplete/autocomplete.css" rel="stylesheet" />
    <link href="~/Style/switch.css" rel="stylesheet" />  
     
}

@if (!isRead)
{
    <div class="modal fade" id="modal_Google">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Find Document From Google Scholar</h4>
                </div>
                <div class="modal-body">

                    <div class="input-group input-group-lg">
                        <input id="txGSSearch" type="text" class="form-control" placeholder="Reference Title, Authors ....">
                        <span class="input-group-btn">
                            <button id="btnGSSearch" type="button" class="btn btn-info btn-flat glyphicon glyphicon-search" onclick="SearchGS();"></button>
                        </span>

                    </div>
                    <hr />

                    <div id="dvScholarResults"></div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left glyphicon glyphicon-fullscreen" onClick="window.open('https://scholar.google.com/scholar?q='+document.getElementById('txGSSearch').value)" title="Search in Google Scholar"></button>
                    <button type="button" class="btn btn-danger" onclick="GSNotFound();">Not Found</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

}

    <div class="modal fade" id="modal_Citations">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Reference Citation</h4>
                </div>
                <div class="modal-body">                  
                    <div class="row">
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div role="form">
                            <div class="box-body">
                               
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div role="form">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="txciteAPA">APA</label>
                                                    <textarea id="txciteAPA" class="form-control" rows="4"  name="citeAPA"></textarea>
                                                </div>                                               
                                                <div class="form-group">
                                                    <label for="txciteChicago">Chicago</label>
                                                    <textarea id="txciteChicago" class="form-control" rows="4" name="citeChicago"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txciteHarvard">Harvard</label>
                                                    <textarea id="txciteHarvard" class="form-control" rows="4" name="citeHarvard"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txciteMLA">MLA</label>
                                                    <textarea id="txciteMLA" class="form-control" rows="4" name="citeMLA"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txciteVancouver">Vancouver</label>
                                                    <textarea id="txciteVancouver" class="form-control" rows="4" name="citeVancouver"></textarea>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>

                                </div>
                            </div>                            

                            <!-- /.box-body -->

                        </div>

                        <!-- /.form-group -->


                    </div>                                      

                </div>
                <div class="modal-footer">                    
                    <button id="btnGoogleCitation" type="button" class="btn btn-success pull-left" onClick="AskGoogleCitation();">Ask Google Scholar</button>                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


<div ng-app="" ng-init="IsRead=@(isRead.ToString().ToLower())">

    @using (Html.BeginForm("SaveDocument", "Reference", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (isRead)
        {
            <div class="row">

                <div class="col-md-12" dir="rtl">
                    <a id="btnCite" class="btn btn-app" data-toggle="modal" data-target="#modal_Citations">
                        <span class="glyphicon glyphicon-comment"></span> Citation
                    </a>
                    <a id="btnEdit" class="btn btn-app" ng-hide="!IsRead" ng-click="IsRead=false">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a id="btnSave" class="btn btn-app" ng-hide="IsRead">
                        <i class="fa fa-save"></i> Save
                    </a>
                    <a id="btnNew" class="btn btn-app" href="/Reference/index">
                        <i class="fa fa-file-text"></i> New
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="row">

                <div class="col-md-12" dir="rtl">
                    <a id="btnreset" class="btn btn-app" onclick="ResetForm();">
                        <i class="fa fa-repeat"></i> Reset
                    </a>
                    <a id="btnCite" class="btn btn-app" data-toggle="modal" data-target="#modal_Citations">
                        <span class="glyphicon glyphicon-comment"></span> Citation
                    </a>
                    <a id="btnSave" class="btn btn-app">
                        <i class="fa fa-save"></i> Save
                    </a>
                    <a id="btnGoogleScholar" class="btn btn-app" data-toggle="modal" data-target="#modal_Google">
                        <i class="fa fa-google"></i> Scholar
                    </a>

                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div id="DvDocumentPD" class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Private Section</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-10">
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div role="form">
                                    <div class="box-body">
                                        @if (isRead)
                                        {
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div>
                                                            <label for="txReferenceGUID">Document Ref:</label>
                                                            <input type="text" class="form-control" id="txReferenceGUID" name="ReferenceGUID" readonly value="@ViewBag.ReferenceGUID" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div>
                                                            <label for="ckInUse">Is in Use?</label>
                                                            <label class="switch">
                                                                <input type="checkbox" id="ckInUse" onchange="SlidesClick(this);">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div>
                                                            <label for="ckbookMark">Bookmark this</label>
                                                            <label class="switch">
                                                                <input type="checkbox" id="ckbookMark" onchange="SlidesClick(this);">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                           
                                        }
                                        <div class="form-group">
                                            <div class="autocomplete">
                                                <label for="txCategory">Category</label>
                                                <input type="text" class="form-control" id="txCategory" placeholder="ex: TextMining MultiAgent" name="Category" ng-readonly="IsRead">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="autocomplete">
                                                <label for="txDatabase">Database</label>
                                                <input type="text" class="form-control" id="txDatabase" placeholder="ex: IEEE" name="Database" ng-readonly="IsRead">
                                            </div>
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="txFileLocalPath">Local File Path</label>
                                            
                                                <input type="text" class="form-control" id="txFileLocalPath" placeholder="The Full path in Your Machine, ex: C:\.....\DocumentFile.pdf" name="FileLocalPath" ng-readonly="IsRead">                                                                                                                                    
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="txOnlineLink">Document online link</label>
                                            <input  type="url" class="form-control" name="OnlineLink" id="txOnlineLink" placeholder="ex: https://ieeeexplorw.ieee.org/documents/123456" ng-readonly="IsRead">
                                            
                                            <a ng-hide="!IsRead" target="_blank" href="javascript:void(0);" onClick="window.open(document.getElementById('txOnlineLink').value)">Show</a>
                                        </div>
                                        <div class="form-group">
                                            <label>Document PDF file</label>
                                            @if (isRead)
                                            {
                                                <div id="dvDownload" >
                                                    <a href="#" target="_blank" id="lnkDownloadFile">Download</a>
                                                    <a href="javascript:void(0)" onclick="deleteFileLink();" ng-hide="IsRead" id="lnkDelete">Delete</a>
                                                    <input type="hidden" id="hdIsdeleted" />
                                                    <script>
                                                        function deleteFileLink() {
                                                            if (confirm("Are You Sure you want to delete attached PDF file?")) {
                                                                var element = $("#lnkDownloadFile");
                                                                element.hide();
                                                                element.removeAttr("href");
                                                                $("#hdIsdeleted").val("ture");
                                                                $("#lnkDelete").hide();
                                                            }


                                                        }
                                                    </script>
                                                </div>
                                            }
                                            <input type="file" id="InputFile" name="InputFile" accept=".pdf" max="1" ng-hide="IsRead">
                                            <p class="help-block" ng-hide="IsRead">Please Upload the Reference's Document as PDF file</p>
                                        </div>
                                        <label ng-hide="IsRead"><input type="checkbox" name="ckAnalyze" id="ckAnalyze" disabled value=true  /> Analyze this Document</label>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        Here you can set the Category of the the document from your owen perspective for this Repository, and upload the Document if you want to Analyze it
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="DvDocumentMD" class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Document Meta Data</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="">
                        <div class="row">
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div role="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="txDocumentTitle">Document Title</label><span style="color:red">*</span>
                                        <input type="text" ng-readonly="IsRead" class="form-control" id="txDocumentTitle" name="Title" placeholder="Enter Title" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="txAuthers">Authors</label>
                                        <input type="text" ng-readonly="IsRead" class="form-control" id="txAuthers" placeholder="Enter Authers" name="Authers">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="txIssueYear">Issue Year</label>
                                                <input type="number" ng-readonly="IsRead" class="form-control" id="txIssueYear" placeholder="Enter Year" name="Year">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <div class="autocomplete">
                                                    <label for="txCountry">Country</label>
                                                    <input type="text" ng-readonly="IsRead" class="form-control" id="txCountry" placeholder="Enter Country" name="Country">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <div class="autocomplete">
                                                    <label for="txPublisher">Publisher</label>
                                                    <input ng-readonly="IsRead" type="text" name="Publisher" class="form-control" id="txPublisher" placeholder="Enter Publisher">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <div class="autocomplete">
                                                    <label for="txReferenceType">Reference Type</label>
                                                    <input ng-readonly="IsRead" type="text" name="ReferenceType" class="form-control" id="txReferenceType" placeholder="Enter Reference Type">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->

                            </div>

                            <!-- /.form-group -->


                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        The Most important section, try to fill as much as you can to get better Aggregation Reports
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Google Scholar Data</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="">
                        <div class="row">
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div role="form">
                                <div class="box-body">

                                    <div class="form-group">
                                        <label for="txGSDocumentLink">Document Link in Google Scholar</label>
                                        <input ng-readonly="IsRead" name="GSDocumentLink" type="text" class="form-control" id="txGSDocumentLink" placeholder="">
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="txHostSite">Host Site</label>
                                            <input ng-readonly="IsRead" name="HostSite" type="text" class="form-control" id="txHostSite" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="txGSArtFileType">Article File Type</label>
                                            <input ng-readonly="IsRead" name="GSDocumentType" type="text" class="form-control" id="txGSArtFileType" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="txCiteCount">Citation Count</label>
                                            <input ng-readonly="IsRead" name="CiteCount" type="number" class="form-control" id="txCiteCount" placeholder="">
                                            <a href="#" id="lnkCitedBy" class="gsLink" style="display:none" target="_blank">Cited By</a>
                                            <input type="hidden" id="hddCitedBy" name="CitedBy" />
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="txVersionsCount">Versions Count</label>
                                            <input ng-readonly="IsRead" type="number" class="form-control" id="txVersionsCount" placeholder="" name="Versions">
                                            <a href="#" id="lnkversionsBy" class="gsLink" style="display:none" target="_blank">Versions</a>
                                            <input type="hidden" id="hddversions" name="lnkVersions" />
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="txGSCitationId">Google Citation ID</label>
                                            <input type="text" class="form-control" id="txGSCitationId" placeholder="" name="GSCitationId" readOnly>
                                            <a href="#" id="lnkRelatedArt" class="gsLink" style="display:none" target="_blank">Related articles</a>
                                            <input type="hidden" id="hddRelated" name="lnkRelated" />
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="FoundGS" id="hdFoundGS" value="false" />


                                <!-- /.box-body -->

                            </div>

                            <!-- /.form-group -->


                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="box-footer" style="">
                        Make sure that all these fields are got filled from Google Scholar
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Document Contents</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-10">
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="txAbstract">Abstract</label>
                                            <textarea ng-readonly="IsRead" id="txAbstract" class="form-control" rows="6" placeholder="Add Document Abstract Section if available" name="Abstract"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="txKeywords">Keywords</label>
                                            <textarea ng-readonly="IsRead" id="txKeywords" class="form-control" rows="2" placeholder="Add Document Keywords Section if available" name="Keywords"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        This part is useful if you want to analyze the document, so the analyzing output can be more accurate
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section EndScripts{

    <script>
        $(function () {
            LoadMetaDataAutoComplete();
            LoadPrivateDataAutoComplete();

        });
        function AddLoadingToDiv(DivName) {
            var loadingDv = $("<div class='overlay'><i class='fa fa-refresh fa-spin'></i></div>");
            loadingDv.insertBefore($("#" + DivName + " .box-footer"))
        }
        function RemoveLoadingToDivMD() {
            MetaDataLoadingInd++;
            if (MetaDataLoadingInd >= 3) {
                var loadingDv = $($("#DvDocumentMD .overlay"));
                loadingDv.remove();
            }
        }
        function RemoveLoadingToDivPD() {
            PrivateDataLoadingInd++;
            if (PrivateDataLoadingInd >= 2) {
                var loadingDv = $($("#DvDocumentPD .overlay"));
                loadingDv.remove();
            }
        }
        var MetaDataLoadingInd = 0;
        var PrivateDataLoadingInd = 0;
        function LoadMetaDataAutoComplete() {
            AddLoadingToDiv("DvDocumentMD");
            GetCountries();
            GetReferenceTypes();
            GetPublishers();

        }
        function LoadPrivateDataAutoComplete() {
            AddLoadingToDiv("DvDocumentPD");
            GetCategories();
            GetDatabases();


        }



        function FillList(listName, data) {


            var lst = $("#" + listName);

            $.each(data, function (i, obj) {
                var option = "<option value='" + obj.Value + "11' data-content='<span class=\"d-flex align-items-center w-100\"><i class=\"hs-admin-rocket g-font-size-18 g-mr-15\"></i><span>" + obj.Text + "11</span></span>'>" + obj.Text + "11</option>";
                $(option).appendTo(lst);
            });

        }
        function GetCountries() {

            return $.ajax({
                type: "GET",
                url: '@Url.Action("GetCountries", "Reference")',
                dataType: "json",
                success: function (result) {
                    if (result.length > 0)
                        autocomplete(document.getElementById("txCountry"), result);
                    RemoveLoadingToDivMD();
                },
                error: function () {
                    RemoveLoadingToDivMD();
                }
            });
        }
        function GetReferenceTypes() {

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetReferenceTypes", "Reference")',
                dataType: "json",
                success: function (result) {
                    if (result.length > 0)
                        autocomplete(document.getElementById("txReferenceType"), result);
                    RemoveLoadingToDivMD();
                },
                error: function () {
                    RemoveLoadingToDivMD();
                }
            });
        }
        function GetCategories() {

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetCategories", "Reference")',
                dataType: "json",
                success: function (result) {
                    if (result.length > 0)
                        autocomplete(document.getElementById("txCategory"), result);
                    RemoveLoadingToDivPD();
                },
                error: function () {
                    RemoveLoadingToDivPD();
                }
            });
        }
        function GetDatabases() {

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetDatabases", "Reference")',
                dataType: "json",
                success: function (result) {
                    if (result.length > 0)
                        autocomplete(document.getElementById("txDatabase"), result);
                    RemoveLoadingToDivPD();
                },
                error: function () {
                    RemoveLoadingToDivPD();
                }

            });
        }
        function GetPublishers() {

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPublishers", "Reference")',
                dataType: "json",
                success: function (result) {
                    if (result.length > 0)
                        autocomplete(document.getElementById("txPublisher"), result);
                    RemoveLoadingToDivMD();
                },
                error: function () {
                    RemoveLoadingToDivMD();
                }

            });
        }
        function RemoveLoadingFromGS() {
            var loadingDv = $($("#dvGS .overlay"));
            loadingDv.remove();
        }
        function SearchGS() {
            var textval = $("#txGSSearch").val();
            if (textval.trim() == "")
                return;
            var div = $("#dvScholarResults");
            div.html("<center><div class='loader'></div></center>");

            $.ajax({
                type: "GET",
                url: '@Url.Action("GoogleScholarSearch", "Reference")',
                data: { SearchText: textval },
                success: function (result) {
                    div.html(result);
                }
            });
        }
        function AskGoogleCitation()
        {
            var hdCiteId = $("#txGSCitationId").val();
            if (hdCiteId == "")
                alert("Citation Id is not found");
            else
                GSCite(hdCiteId);
        }
        function GSCite(CitationId)
        {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GoogleScholarCitation", "Reference")',
                data: { citaionId: CitationId },
                success: function (result) {
                    if (result.isSuccess) {
                        setValue("txciteAPA", result.returndValue.citations.APA);
                        setValue("txciteChicago", result.returndValue.citations.Chicago);
                        setValue("txciteHarvard", result.returndValue.citations.Harvard);
                        setValue("txciteMLA", result.returndValue.citations.MLA);
                        setValue("txciteVancouver", result.returndValue.citations.Vancouver);
                        //if(result.bibData!=null)
                        //{
                        //    if(result.bibData.IssueYear!=null && result.bibData.IssueYear!="")
                        //    {
                        //        hdYear = result.bibData.IssueYear;
                        //    }

                        //    if (result.bibData.Title != null && result.bibData.Title != "") {
                        //        hdTitle = result.bibData.Title;
                        //    }
                        //    if (result.bibData.Publisher != null && result.bibData.Publisher != "") {
                        //        hdPublisher = result.bibData.Publisher;
                        //    }
                        //    if (result.bibData.Type != null && result.bibData.Type != "") {
                        //        hdFileType = result.bibData.Type;
                        //    }
                        //    if (result.bibData.Authers != null && result.bibData.Authers != "") {
                        //        hdAuthers = result.bibData.Authers;
                        //    }
                        //}
                    }

                }
            });


        }
        function GSChoose(btnChoose) {
            $('#modal_Google').modal('toggle');
            LoadingStart();
            var parentDV = $(btnChoose).parent().parent();
            var bodyDv = parentDV.find(".box-body");
            var hdCiteId = bodyDv.find("#hdCiteId").val();
            var hdTitle = bodyDv.find("#hdTitle").val();
            var hdAbstract = bodyDv.find("#hdAbstract").val();
            var hdAuthers = bodyDv.find("#hdAuthers").val();
            var hdPublisher = bodyDv.find("#hdPublisher").val();
            var hdYear = bodyDv.find("#hdYear").val();
            var mainlink = parentDV.find(".box-header .user-block #hdGSLink").attr("href");
            var hdDownload = bodyDv.find("#hdDownload").attr("href");
            var hdHost = bodyDv.find("#hdHost").val();
            var hdCitedBy = bodyDv.find("#hdCitedBy").val();
            var hdVersions = bodyDv.find("#hdVersions").val();
            var hdCitedByLink = bodyDv.find("#hdCitedByLink").val();
            var hdFileType = bodyDv.find("#hdFileType").val();
            var hdRelatedArticlesLink = bodyDv.find("#hdRelatedArticlesLink").val();
            var hdVersionLink = bodyDv.find("#hdVersionLink").val();
            var hdVersions = bodyDv.find("#hdVersions").val();
            GSCite(hdCiteId);
            setValue("txDatabase", hdHost);
            setValue("txOnlineLink", hdDownload);
            setValue("txDocumentTitle", hdTitle);
            AppendValue("txAuthers", hdAuthers);
            AppendValue("txPublisher", hdPublisher);
            setValue("txIssueYear", hdYear);
            setValue("txReferenceType", hdFileType);
            setValue("txGSDocumentLink", mainlink);
            setValue("txHostSite", hdHost);
            setValue("txCiteCount", hdCitedBy);
            setValue("txVersionsCount", hdVersions);
            setValue("txGSCitationId", hdCiteId);
            setValue("txGSArtFileType", hdFileType);
            setValue("hdFoundGS", true);

            AppendValue("txAbstract", hdAbstract);




            if (Number(hdVersions) > 0) {
                setAttValue("lnkversionsBy", hdVersionLink, "href")

                setValue("hddversions", hdVersionLink)
            }
            if (Number(hdCitedBy) > 0) {
                setAttValue("lnkCitedBy", hdCitedByLink, "href")
                setValue("hddCitedBy", hdCitedByLink)
            }
            if (hdRelatedArticlesLink != "") {
                setAttValue("lnkRelatedArt", hdRelatedArticlesLink, "href")
                setValue("hddRelated", hdRelatedArticlesLink)
            }
            LoadingFinish();


        }
        function setAttValue(name, value, att) {
            var element = $("#" + name);
            element.attr(att, value);
            if (value == "#")
                element.hide();
            else
                element.show();
        }
        function setValue(name, value) {

            var element = $("#" + name);
            element.val(value);


        }
        function AppendValue(name, value) {
            var element = $("#" + name);
            element.val(element.val() + " " + value);
        }

        function ResetForm(btnChoose) {

            if (confirm("Are You sure, you want reset the form and clear Fields?")) {
                setValue("txCategory", "");
                setValue("txAbstract", "");
                setValue("txKeywords", "");
                setValue("txFileLocalPath", "");
                setValue("txCountry", "");
                setValue("txDatabase", "");
                setValue("txOnlineLink", "");
                setValue("txDocumentTitle", "");
                AppendValue("txAuthers", "");
                AppendValue("txPublisher", "");
                setValue("txIssueYear", "");
                setValue("txReferenceType", "");
                setValue("txGSDocumentLink", "");
                setValue("txHostSite", "");
                setValue("txCiteCount", "");
                setValue("txVersionsCount", "");
                setValue("txGSCitationId", "");
                AppendValue("txAbstract", "");
                setAttValue("lnkversionsBy", "#", "href");
                setAttValue("lnkCitedBy", "#", "href");
                setAttValue("lnkRelatedArt", "#", "href");
                setValue("hdFoundGS", "false");
                setValue("hddversions", "");
                setValue("hddCitedBy", "");
                setValue("hddRelated", "");
                setValue("txGSArtFileType", "");
                setValue("txciteAPA").val("");
                setValue("txciteChicago").val("");
                setValue("txciteHarvard").val("");
                setValue("txciteVancouver").val("");
                setValue("txciteMLA").val("");
                setValue("InputFile", "");
                var ele = $("input[type=checkbox][id=ckAnalyze]");
                ele.prop('checked', false)
                ele.prop('disabled', true);


            }

        }
        function GSNotFound() {
            setValue("txGSDocumentLink", "");
            setValue("txHostSite", "");
            setValue("txCiteCount", "");
            setValue("txVersionsCount", "");
            setValue("txGSCitationId", "");
            setValue("txGSArtFileType", "");
            setValue("hdFoundGS", false);

            setAttValue("lnkversionsBy", "#", "href")

            setValue("hddversions", "")


            setAttValue("lnkCitedBy", "#", "href")
            setValue("hddCitedBy", "")

            setAttValue("lnkRelatedArt", "#", "href")
            setValue("hddRelated", "")
            setValue("txciteAPA").val("");
            setValue("txciteChicago").val("");
            setValue("txciteHarvard").val("");
            setValue("txciteVancouver").val("");
            setValue("txciteMLA").val("");
            $('#modal_Google').modal('toggle');

        }
        $('#InputFile').bind('change', function (event) {

            if (this.files.length > 0) {
                if (this.files[0].size > 8 * 1024 * 1024) {
                    event.preventDefault();
                    WarningMessage("Max File size is 8 MB");
                    this.value = ""
                }

            }

        });
        $('#InputFile').change(function () {

            var ele = $("input[type=checkbox][id=ckAnalyze]");
            if (this.value == "") {
                ele.prop('disabled', true);
                ele.prop('checked', false)
            }
            else {
                ele.prop('disabled', false);
            }
        })
        $(document).ready(function () {

            $('#btnSave').click(function () {

                LoadingStart();
                var formData = new FormData();
                var files = $("#InputFile").get(0).files;
                if (files.length > 0)
                    formData.append("file", files[0]);
                @if(isRead)
                {
                    <text>
                formData.append("IsFiledeleted", $('#hdIsdeleted').val());
                formData.append("ReferenceGuid", '@ViewBag.ReferenceGUID');
                </text>
                }

                formData.append("Category", $('#txCategory').val());
                formData.append("Abstract", $('#txAbstract').val());
                formData.append("Keywords", $('#txKeywords').val());
                formData.append("FileLocalPath", $('#txFileLocalPath').val());
                formData.append("Country", $('#txCountry').val());
                formData.append("Database", $('#txDatabase').val());
                formData.append("OnlineLink", $('#txOnlineLink').val());
                formData.append("Title", $('#txDocumentTitle').val());
                formData.append("Authers", $('#txAuthers').val());
                formData.append("Publisher", $('#txPublisher').val());
                formData.append("ReferenceType", $('#txReferenceType').val());
                formData.append("GSDocumentLink", $('#txGSDocumentLink').val());
                formData.append("HostSite", $('#txHostSite').val());
                formData.append("CiteCount", $('#txCiteCount').val());
                formData.append("Versions", $('#txVersionsCount').val());
                formData.append("GSCitationId", $('#txGSCitationId').val());
                formData.append("FoundGS", $('#hdFoundGS').val());
                formData.append("lnkVersions", $('#hddversions').val());
                formData.append("CitedBy", $('#hddCitedBy').val());
                formData.append("Year", $('#txIssueYear').val())
                formData.append("lnkRelated", $('#hddRelated').val());
                formData.append("GSDocumentType", $('#txGSArtFileType').val());
                formData.append("ckAnalyze", $("input[type=checkbox][id=ckAnalyze]:checked").val());
                formData.append("APA", $("#txciteAPA").val());
                formData.append("Chicago", $("#txciteChicago").val());
                formData.append("Harvard", $("#txciteHarvard").val());
                formData.append("MLA", $("#txciteMLA").val());
                formData.append("Vancouver", $("#txciteVancouver").val());

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveDocument", "Reference")',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.isSuccess == true) {
                            var docid = response.returndValue;
                            $(location).attr('href', '/Reference/index?refId=' + docid);
                        }
                        else {
                            if (response.showMessage == true)
                                ErrorMessage(response.message);
                        }
                        LoadingFinish();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        ErrorMessage('An error occurred... {status code: ' + jqXHR.status + '</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>' + jqXHR.responseText + '</div>');                     
                    },
                    complete:function() {
                        LoadingFinish();
                    }
                })
            })
        })
    </script>
    @if (isRead)
    {
        <script>


            $(document).ready(function () {

                LoadingStart();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetReferenceData", "Reference")',
                    data: { refId: "@ViewBag.ReferenceGUID" },
                    dataType: "json",
                    success: function (response) {
                        if (response.isSuccess == true) {
                            fillForm(response.returndValue);
                        }
                        else {
                            if (response.showMessage == true)
                                ErrorMessage(response.message);
                        }

                    }
                })
                LoadingFinish();



            })
            function fillForm(Model) {
                $("input[type=checkbox][id=ckAnalyze]").prop('checked',Model.NeedAnalyse);
                setValue("hddRelated", Model.GSRelatedLink)
                setValue("txKeywords", Model.Keywords);
                setValue("txCategory", Model.Category);
                setValue("txFileLocalPath", Model.DocumentLocalPath);
                setValue("txCountry", Model.Country);
                setValue("txDatabase", Model.FromDatabase);
                setValue("txOnlineLink", Model.DocumentLink);
                setValue("txDocumentTitle", Model.Title);
                setValue("txAuthers", Model.Authers);
                setValue("txPublisher", Model.Publisher);
                setValue("txIssueYear", Model.IssueYear);
                setValue("txReferenceType", Model.ReferenceType);
                setValue("txGSDocumentLink", Model.GSDocumentLink);
                setValue("txHostSite", Model.GSHostSite);
                setValue("txCiteCount", Model.CiteCount);
                setValue("txVersionsCount", Model.VarsionsCount);
                setValue("txGSCitationId", Model.GSCiteId);
                if (Model.GSCiteId == "")
                    setAttValue(btnGoogleCitation, "disabled", "disabled");
                setValue("txGSArtFileType", Model.GSDocumentType);
                setValue("hdFoundGS", Model.FoundGS);

                setValue("txciteAPA", Model.APA);
                setValue("txciteChicago", Model.Chicago);
                setValue("txciteHarvard", Model.Harvard);
                setValue("txciteMLA", Model.MLA);
                setValue("txciteVancouver", Model.Vancouver);
                setValue("txAbstract", Model.Abstract);
                $("input[type=checkbox][id=ckInUse]").prop('checked',Model.InUse);
                $("input[type=checkbox][id=ckbookMark]").prop('checked', Model.Bookmark);
                if (Model.DocumentPath != null)
                {                                     
                    setAttValue("lnkDownloadFile","DownloadReference?refId="+ Model.ReferenceGUID, "href");

                }
                else {
                    $("#dvDownload").hide();
                }


                if (Number(Model.VarsionsCount) > 0) {
                    setAttValue("lnkversionsBy", Model.GSVersions, "href");
                    setValue("hddversions", Model.GSVersions);
                }
                if (Number(Model.CiteCount) > 0) {
                    setAttValue("lnkCitedBy", Model.GSCiteLink, "href");
                    setValue("hddCitedBy", Model.GSCiteLink);
                }
                if (Model.GSRelatedLink != "") {
                    setAttValue("lnkRelatedArt", Model.GSRelatedLink, "href");
                    setValue("hddRelated", Model.GSRelatedLink);
                }



            }
            function SlidesClick(slide)
            {
                LoadingStart();
                var id = $(slide).attr('id');
                var value = slide.checked;
                var reqType = "";
                if (id == "ckInUse")
                    reqType = "InUse"
                else
                    reqType = "Bookmark"

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("SlidesClick", "Reference")',
                    data: { Slide: reqType, SlideValue: value, refId: "@ViewBag.ReferenceGUID" },
                    dataType: "json",
                    success: function (response) {
                        LoadingFinish();
                        if (response.isSuccess == true) {
                            
                            SuccessMessage(response.message);
                        }
                        else {

                            if (response.showMessage == true)
                                ErrorMessage(response.message);
                        }
                    }
                })                

            }
        </script>
    }



}
