﻿
@{
    ViewBag.Title = "Repository Contents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StartScripts{
    <link href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<br />
<div class="row">
    <div class="col-md-12">
        <div id="DvDocumentMD" class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Search..</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <div class="row">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">   
                            <div class="row">
                                <div class="col-xs-10">
                                   
                                    <div class="form-group">
                                        <label for="txDocumentTitle">Document Title</label>
                                        <input type="text" class="form-control" id="txDocumentTitle" name="Title">
                                    </div>
                                </div>   
                                <div class="col-xs-1">                                    
                                    <div class="form-group">
                                        <div>
                                            <label>in Use</label>
                                            <select id="ddlInUse" class="form-control">
                                                <option value="" selected>--All--</option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>   
                                <div class="col-xs-1">

                                    <div class="form-group">
                                        <div>
                                            <label for="ddlbookMark">Bookmark</label>
                                            <select id="ddlbookMark" class="form-control">
                                                <option value="" selected>--All--</option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                               
                            </div>                        
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="txRefId">Reference ID</label>
                                        <input type="text" class="form-control" id="txRefId" name="txRefId">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">                                        
                                        <label for="txCategory">Category</label>
                                        @Html.DropDownList("txCategory",(List<SelectListItem>)ViewBag.Category,new {id= "txCategory",@class="form-control" })                                       
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.box-body -->

                    </div>

                    <!-- /.form-group -->


                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer" style="">
                <button type="button" class="btn btn-info pull-right" onclick="search();">Search</button>
                @*<div class="row" dir="rtl">
                    <div class="col-md-11" ></div>
                        <div class="col-md-1">
                            
                        </div>
                    </div>*@
                
                
            </div>
        </div>
    </div>
</div>
<div id="DVSearchResults"></div>
@section EndScripts
{

    
    <!-- page script -->
    <script>
       
        function search() {
            LoadingStart();
                  
            var Category=$('#txCategory').val();
            var title= $('#txDocumentTitle').val();
            var referenceId = $('#txRefId').val();
            var InUse = $('#ddlInUse').val();
            var bookmark = $('#ddlbookMark').val();
                       
            $.ajax({
                type: "GET",
                url: '@Url.Action("SearchReferences", "Reference")',                
                data: { Category: Category, referenceId: referenceId, title: title ,isUse:InUse,Bookmark:bookmark},                
                success: function (result) {                    
                    $('#DVSearchResults').html(result);
                    
                },
                error: function(xhr, status, error) {                  
                    alert(error);
                },
                complete:function()
                {
                    LoadingFinish();
                }

            });
        }
    </script>
}
