﻿
@{
    ViewBag.Title = "Similarity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StartScripts{
    <link href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Style/switch.css" rel="stylesheet" />
}

<br />
<div class="row" ng-app="">
    <div class="col-md-12">
        <div id="DvDocumentMD" class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Search..</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <div class="row">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">   
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                    <div class="form-group">
                                        <label>Term</label>                                        
                                    </div>
                                </div>   
                                <div class="col-xs-3">

                                    <div class="form-group">
                                        <label>Threshold</label>
                                    </div>
                                </div>  
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div>
                                            <label>TF</label>
                                            <label class="switch">
                                                <input type="checkbox" id="ckbookMark">
                                                <span class="slider round"></span>
                                            </label>
                                            <label>TFBMTF</label>
                                        </div>
                                    </div>
                                </div>                                
                                                         
                            </div>                        
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">                                        
                                        <input type="text" class="form-control" id="txTerm1" name="txTerm1">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">    
                                        <input type="range" style="vertical-align:middle;" id="rgthreshold1" value="40" max="100" min="0" ng-model="rg1">                                                                                                             
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="form-group">
                                       <span id="thresholdval1"  style="font-weight:bold">{{ rg1 }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txTerm2" name="txTerm2">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <input type="range" style="vertical-align:middle;" id="rgthreshold2" value="0" max="100" min="0" ng-model="rg2">
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="form-group">
                                        <span id="thresholdval2" style="font-weight:bold">{{ rg2 }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txTerm3" name="txTerm3">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <input type="range" style="vertical-align:middle;" id="rgthreshold3" value="0" max="100" min="0" ng-model="rg3">
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="form-group">
                                        <span id="thresholdval3" style="font-weight:bold">{{ rg3 }}</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- /.box-body -->

                    </div>

                    <!-- /.form-group -->


                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer" style="">
                <button type="button" class="btn btn-info pull-right" onclick="search();">Search</button>
                @*<div class="row" dir="rtl">
                    <div class="col-md-11" ></div>
                        <div class="col-md-1">
                            
                        </div>
                    </div>*@
                
                
            </div>
        </div>
    </div>
</div>
<div id="DVSearchResults"></div>
@section EndScripts
{

    
    <!-- page script -->
    <script>
       
        function search() {
            LoadingStart();
                  
            var str1 = $('#txTerm1').val();
            var str2 = $('#txTerm2').val();
            var str3 = $('#txTerm3').val();
            var threshold1 = $('#rgthreshold1').val();
            var threshold2 = $('#rgthreshold2').val();
            var threshold3 = $('#rgthreshold3').val();
            var TFBMFT = document.getElementById("ckbookMark").checked;
                       
            $.ajax({
                type: "GET",
                url: '@Url.Action("Similarity", "Reference")',                
                data: { isTFBMTF: TFBMFT, str1: str1,str2:str2,str3:str3, threshold1:threshold1,threshold2:threshold2, threshold3:threshold3},
                success: function (result) {                    
                    $('#DVSearchResults').html(result);
                    
                },
                error: function(xhr, status, error) {                  
                    alert(error);
                },
                complete:function()
                {
                    LoadingFinish();
                }

            });
        }
    </script>
}
